@keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0;
    }
    to {
        background-position: 0 0;
    }
}
@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0px #4444ee, 0 0 0 0px #fff, 0 0 0 0px #4444ee, 0 0 0 0px #fff, 0 0 0 0px #4444ee, 0 0 0 0px #fff, 0 0 0 0px #4444ee, 0 0 0 0px #fff;
    }
    100% {
        box-shadow: 0 0 0 15px #4444ee, 0 0 0 17px rgba(255, 255, 255, 0), 0 0 0 40px #4444ee, 0 0 0 42px rgba(255, 255, 255, 0), 0 0 0 70px #4444ee, 0 0 0 72px rgba(255, 255, 255, 0), 0 0 0 105px #4444ee, 0 0 0 107px rgba(255, 255, 255, 0);
    }
}
@keyframes drift {
    from {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);
    }
}

@keyframes rumbleinthejungle {
    0% {
        transform: translatex(0);
    }
    25% {
        transform: translatex(-5px);
    }
    50% {
        transform: translatex(0);
    }
    75% {
        transform: translatex(5px);
    }
    100% {
        transform: translatex(0);
    }
}

@keyframes wave-animate {
    0% {
        transform: scale(0);
        opacity: 1;
        transform-origin: center;
    }
    100% {
        transform: scale(1.8);
        opacity: 0;
        transform-origin: center;
    }
}

.animation-1 {
    animation: spin1 2s infinite alternate;
}
.animation-2 {
    animation: spin2 2s infinite alternate;
}

.section-hero {
    .el-shape {
        position: absolute;

        &.shape-1 {
            top: 40%;
            left: 85px;
            background: #00c99c;
            transform: translateY(-50%);
            animation: spin2 2s infinite alternate;
        }
        &.shape-2 {
            top: 50%;
            left: 155px;
            background: #fca249;
            transform: translateY(-50%);
            animation: spin1 2s infinite alternate;
        }
        &.shape-3 {
            top: 85%;
            left: 255px;
            background: #7d95fa;
            animation: spin1 1s infinite alternate;
        }
        &.shape-4 {
            top: 40%;
            right: 85px;
            background: #d27dfa;
            transform: translateY(-50%);
            animation: spin1 2s infinite alternate;
        }
        &.shape-5 {
            top: 50%;
            right: 155px;
            background: #ff9398;
            transform: translateY(-50%);
            animation: spin1 3s infinite alternate;
        }
        &.shape-6 {
            top: 85%;
            right: 55px;
            background: #f1d53b;
            animation: spin2 2s infinite alternate;
        }
        &.shape-7 {
            right: 28%;
            bottom: 250px;
            animation: spin2 2s infinite alternate;
        }
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
.faa-parent.animated-hover:hover > .faa-spin,
.faa-spin.animated,
.faa-spin.animated-hover:hover {
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes pulse {
    0% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(2);
        transform: translate(-50%, -50%) scale(2);
    }
}
@keyframes pulse {
    0% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(2);
        transform: translate(-50%, -50%) scale(2);
    }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: translateX(-10px) scale(0.9);
        transform: translateX(-10px) scale(0.9);
    }
    100% {
        -webkit-transform: translateX(30px) scale(1.3) translateY(10px);
        transform: translateX(30px) scale(1.3) translateY(10px);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: translateX(-10px) scale(0.9);
        transform: translateX(-10px) scale(0.9);
    }
    100% {
        -webkit-transform: translateX(30px) scale(1.3) translateY(10px);
        transform: translateX(30px) scale(1.3) translateY(10px);
    }
}
@-webkit-keyframes spin1 {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}
@keyframes spin1 {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}
@-webkit-keyframes spin2 {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
}
@keyframes spin2 {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
}
@-webkit-keyframes spin3 {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    25% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    50% {
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
    }
    100% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
    }
}
@keyframes spin3 {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    25% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    50% {
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
    }
    100% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
    }
}








































































@-webkit-keyframes animationFramesOne {
    0% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
              transform: translate(0px, 0px) rotate(0deg);
    }
    20% {
      -webkit-transform: translate(73px, -1px) rotate(36deg);
              transform: translate(73px, -1px) rotate(36deg);
    }
    40% {
      -webkit-transform: translate(141px, 72px) rotate(72deg);
              transform: translate(141px, 72px) rotate(72deg);
    }
    60% {
      -webkit-transform: translate(83px, 122px) rotate(108deg);
              transform: translate(83px, 122px) rotate(108deg);
    }
    80% {
      -webkit-transform: translate(-40px, 72px) rotate(144deg);
              transform: translate(-40px, 72px) rotate(144deg);
    }
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
              transform: translate(0px, 0px) rotate(0deg);
    }
  }
  
  @keyframes animationFramesOne {
    0% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
              transform: translate(0px, 0px) rotate(0deg);
    }
    20% {
      -webkit-transform: translate(73px, -1px) rotate(36deg);
              transform: translate(73px, -1px) rotate(36deg);
    }
    40% {
      -webkit-transform: translate(141px, 72px) rotate(72deg);
              transform: translate(141px, 72px) rotate(72deg);
    }
    60% {
      -webkit-transform: translate(83px, 122px) rotate(108deg);
              transform: translate(83px, 122px) rotate(108deg);
    }
    80% {
      -webkit-transform: translate(-40px, 72px) rotate(144deg);
              transform: translate(-40px, 72px) rotate(144deg);
    }
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
              transform: translate(0px, 0px) rotate(0deg);
    }
  }
  
  @-webkit-keyframes animationFramesTwo {
    0% {
      -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
              transform: translate(0px, 0px) rotate(0deg) scale(1);
    }
    20% {
      -webkit-transform: translate(73px, -1px) rotate(36deg) scale(0.9);
              transform: translate(73px, -1px) rotate(36deg) scale(0.9);
    }
    40% {
      -webkit-transform: translate(141px, 72px) rotate(72deg) scale(1);
              transform: translate(141px, 72px) rotate(72deg) scale(1);
    }
    60% {
      -webkit-transform: translate(83px, 122px) rotate(108deg) scale(1.2);
              transform: translate(83px, 122px) rotate(108deg) scale(1.2);
    }
    80% {
      -webkit-transform: translate(-40px, 72px) rotate(144deg) scale(1.1);
              transform: translate(-40px, 72px) rotate(144deg) scale(1.1);
    }
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
              transform: translate(0px, 0px) rotate(0deg) scale(1);
    }
  }
  
  @keyframes animationFramesTwo {
    0% {
      -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
              transform: translate(0px, 0px) rotate(0deg) scale(1);
    }
    20% {
      -webkit-transform: translate(73px, -1px) rotate(36deg) scale(0.9);
              transform: translate(73px, -1px) rotate(36deg) scale(0.9);
    }
    40% {
      -webkit-transform: translate(141px, 72px) rotate(72deg) scale(1);
              transform: translate(141px, 72px) rotate(72deg) scale(1);
    }
    60% {
      -webkit-transform: translate(83px, 122px) rotate(108deg) scale(1.2);
              transform: translate(83px, 122px) rotate(108deg) scale(1.2);
    }
    80% {
      -webkit-transform: translate(-40px, 72px) rotate(144deg) scale(1.1);
              transform: translate(-40px, 72px) rotate(144deg) scale(1.1);
    }
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
              transform: translate(0px, 0px) rotate(0deg) scale(1);
    }
  }
  
  @-webkit-keyframes animationFramesThree {
    0% {
      -webkit-transform: translate(165px, -179px);
              transform: translate(165px, -179px);
    }
    100% {
      -webkit-transform: translate(-346px, 617px);
              transform: translate(-346px, 617px);
    }
  }
  
  @keyframes animationFramesThree {
    0% {
      -webkit-transform: translate(165px, -179px);
              transform: translate(165px, -179px);
    }
    100% {
      -webkit-transform: translate(-346px, 617px);
              transform: translate(-346px, 617px);
    }
  }
  
  @-webkit-keyframes animationFramesFour {
    0% {
      -webkit-transform: translate(-300px, 151px) rotate(0deg);
              transform: translate(-300px, 151px) rotate(0deg);
    }
    100% {
      -webkit-transform: translate(251px, -200px) rotate(180deg);
              transform: translate(251px, -200px) rotate(180deg);
    }
  }
  
  @keyframes animationFramesFour {
    0% {
      -webkit-transform: translate(-300px, 151px) rotate(0deg);
              transform: translate(-300px, 151px) rotate(0deg);
    }
    100% {
      -webkit-transform: translate(251px, -200px) rotate(180deg);
              transform: translate(251px, -200px) rotate(180deg);
    }
  }
  
  @-webkit-keyframes animationFramesFive {
    0% {
      -webkit-transform: translate(61px, -99px) rotate(0deg);
              transform: translate(61px, -99px) rotate(0deg);
    }
    21% {
      -webkit-transform: translate(4px, -190px) rotate(38deg);
              transform: translate(4px, -190px) rotate(38deg);
    }
    41% {
      -webkit-transform: translate(-139px, -200px) rotate(74deg);
              transform: translate(-139px, -200px) rotate(74deg);
    }
    60% {
      -webkit-transform: translate(-263px, -164px) rotate(108deg);
              transform: translate(-263px, -164px) rotate(108deg);
    }
    80% {
      -webkit-transform: translate(-195px, -49px) rotate(144deg);
              transform: translate(-195px, -49px) rotate(144deg);
    }
    100% {
      -webkit-transform: translate(-1px, 0px) rotate(180deg);
              transform: translate(-1px, 0px) rotate(180deg);
    }
  }
  
  @keyframes animationFramesFive {
    0% {
      -webkit-transform: translate(61px, -99px) rotate(0deg);
              transform: translate(61px, -99px) rotate(0deg);
    }
    21% {
      -webkit-transform: translate(4px, -190px) rotate(38deg);
              transform: translate(4px, -190px) rotate(38deg);
    }
    41% {
      -webkit-transform: translate(-139px, -200px) rotate(74deg);
              transform: translate(-139px, -200px) rotate(74deg);
    }
    60% {
      -webkit-transform: translate(-263px, -164px) rotate(108deg);
              transform: translate(-263px, -164px) rotate(108deg);
    }
    80% {
      -webkit-transform: translate(-195px, -49px) rotate(144deg);
              transform: translate(-195px, -49px) rotate(144deg);
    }
    100% {
      -webkit-transform: translate(-1px, 0px) rotate(180deg);
              transform: translate(-1px, 0px) rotate(180deg);
    }
  }
  