/*------------------------------------
    Header
------------------------------------*/

.app-header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    position: absolute;
    background-color: transparent;

    .header-wrap {
        height: 75px;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;
        
        .header-left,
        .header-right {
            display: flex;
            align-items: center;
            align-content: center;
        }
        .header-logo {
            overflow: hidden;
            margin-right: 45px;

            a {
                width: 75px;
                display: block;
            }
        }
        .header-menu {
            & > ul {
                display: flex;
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    font-size: 14px;
                    font-weight: 500;
                    margin-right: 36px;
                }
            }
        }
    }

    &.app-header-1 {
        
        ul li {
            color: $text-color;
        }
    }
}